export const environment = {
  /**
   * @type {AppServiceConfig}
   */
  app: {
    url: 'http://localhost:3000',
    version: '1.0.0'
  },
  /**
   * @type {FirebaseServiceConfig}
   */
  firebase: {
    apiKey: '',
    authDomain: '',
    databaseURL: '',
    storageBucket: '',
    messagingSenderId: '',
    functionsURL: ''
  }
};
