<div class="app" [class.noscroll]="canScroll === false" [style.top]="canScroll ? 0 : (-scrollY + 'px')">
  <app-core-header></app-core-header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <app-core-footer></app-core-footer>
</div>
<app-core-settings></app-core-settings>
<div [class.loading]="hasUpdate === false" [class.updating]="isUpdating === true" class="update">
  <div class="logo"></div>
  <div *ngIf="isUpdating === false" class="message">
    <span>A new version is available!</span>
    <div>
      <button class="accept" (click)="onClickUpdateAccept()" aria-label="Accept application update">Update</button>
      <button class="refuse" (click)="onClickUpdateRefuse()" aria-label="Dismiss application update">Dismiss</button>
    </div>
  </div>
  <div *ngIf="isUpdating === true" class="message">
    Updating application...
  </div>
</div>
