<div class="panel site-list">
  <div class="header">
    <div>
      <h2>
        <span class="i i-{{sort}}"></span>
        <span>{{heading}}</span>
      </h2>
      <span class="label">{{total}} {{total == 1 ? 'site' : 'sites'}}</span>
    </div>
  </div>
  <div class="body">
    <ol class="list">
      <li class="site" *ngFor="let site of site$ | async; trackBy: trackById;">
        <a [routerLink]="['/browse']" [queryParams]="{ url: site.url }" class="mask" title="{{site.title}}">
          <div
            class="cover"
            [class.loaded]="coverUrlLoaded.indexOf(site.coverUrl) > -1"
            [style.background-image]="'url(' + site.coverUrl + ')' | trustCss"
          ></div>
          <div class="likes">
            <span class="i i-like"></span>
            <span>{{site.likeCount | number}}</span>
          </div>
        </a>
        <div class="info">
          <h3>
            <a
              [routerLink]="['/browse']"
              [queryParams]="{ url: site.url }"
              title="{{site.title}}"
              class="title"
            >{{site.title}}</a>
          </h3>
          <a [routerLink]="['/browse']" [queryParams]="{ url: site.url }" class="info-line">{{site.getSourceName()}}</a>
          <div class="info-line">{{site.loadCount | number}} {{site.loadCount == 1 ? 'view' : 'views'}} &bull; 1 month ago</div><!-- TODO date -->
        </div>
      </li>
      <li *ngFor="let i of placeholders" class="site placeholder">
        <div>Placeholder #{{i}}</div>
      </li>
    </ol>
  </div>
  <div class="footer">
    <div>
      <button
        *ngIf="hasMore"
        class="btn"
        [class.isLoading]="isLoading"
        (click)="onClickLoadMore()"
      >
        <span>Load more</span>
      </button>
    </div>
  </div>
</div>
