<footer>
  <div class="top">
    <section>
      <div class="title">Connect with us</div>
      <div class="links">
        <a href="https://www.facebook.com/nicolas.favaron" target="_blank" class="facebook" title="GallerizeIt! on Facebook"></a>
        <a href="https://twitter.com/MoKoNiCoO" target="_blank" class="twitter" title="GallerizeIt! on Twitter"></a>
        <a href="https://www.linkedin.com/in/nicolasfavaron/" class="linkedin" target="_blank" title="GallerizeIt! on LinkedIn"></a>
        <a href="https://github.com/nfavaron/gallerizeit" target="_blank" class="github" title="GallerizeIt! on GitHub"></a>
      </div>
    </section>
  </div>
  <div class="bottom">
    <section>&copy; GallerizeIt!</section>
  </div>
</footer>
