.update {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 12;
  width: 100%;
  height: 80px;
  background: #ffffff;
  border-top: solid 1px #dddddd;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: bottom 200ms ease-out;
  -o-transition: bottom 200ms ease-out;
  -moz-transition: bottom 200ms ease-out;
  transition: bottom 200ms ease-out;
}

.update.loading {
  bottom: -90px;
}

.update .logo {
  width: 45px;
  min-width: 45px;
  height: 45px;
  min-height: 45px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.update .message {
  padding: 0 20px;
}

.update .message div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 5px;
}

.update button {
  margin-right: 10px;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 12px;
  -webkit-transition: opacity 200ms ease-out;
  -o-transition: opacity 200ms ease-out;
  -moz-transition: opacity 200ms ease-out;
  transition: opacity 200ms ease-out;
  cursor: pointer;
}

.update button:hover {
  opacity: 0.90;
}

.update button.accept {
  color: #ffffff;
  background: #0074d9;
}

.update button.refuse {
  color: #999999;
  background: #f0f0f0;
}

.app-loader.install {
  -webkit-transition: opacity 300ms ease-out;
  -o-transition: opacity 300ms ease-out;
  -moz-transition: opacity 300ms ease-out;
  transition: opacity 300ms ease-out;
  opacity: 1;
}

.app-loader.install.loading {
  top: 100%;
  z-index: 0;
  opacity: 0;
}
