<div class="home">
  <div class="banner">
    <section>
      <strong>Animals, cars, anime...</strong>
      <span>Collecting wallpapers ?</span>
      <h1>What if you could browse all your favourite wallpaper websites simultaneously ?</h1>
      <a [routerLink]="['/browse']" [queryParams]="{ url: demoUrl }" class="btn">Try now!</a>
    </section>
    <div></div>
  </div>
  <section class="content">
    <app-gallery-site-list title="Most popular sites" sort="likeCount" [limit]="8"></app-gallery-site-list>
    <app-gallery-site-list title="Recently updated sites" sort="updateDate" [limit]="8"></app-gallery-site-list>
  </section>
</div>
