<div class="home">
  <section>
    <strong>Animals, cars, anime...</strong>
    <span>Collecting wallpapers ?</span>
    <h1>What if you could browse all your favourite wallpaper websites simultaneously ?</h1>
    <a [routerLink]="['/browse']" [queryParams]="{ url: demoUrl }" class="btn">Try now!</a>
  </section>
  <div></div>
</div>
<div class="site-list most-popular">
  <ul>
    <li *ngFor="let site of siteMostPopular$ | async; trackBy: trackById;">
      <a [routerLink]="['/browse']" [queryParams]="{ url: site.url }" class="image" [style.background-image]="'url(' + site.coverUrl + ')' | trustCss">{{site.loadCount}}</a>
    </li>
  </ul>
</div>
<div class="site-list most-recent">
  <ul>
    <li *ngFor="let site of siteMostRecent$ | async; trackBy: trackById;">
      <a [routerLink]="['/browse']" [queryParams]="{ url: site.url }" class="image" [style.background-image]="'url(' + site.coverUrl + ')' | trustCss">{{site.createDate}}</a>
    </li>
  </ul>
</div>
