<div>
  <div class="banner">
    <section>
      <strong>Animals, cars, anime...</strong>
      <span>Collecting wallpapers ?</span>
      <h1>Browse photos from your favourite websites simultaneously in one gallery!</h1>
      <a [routerLink]="['/browse']" [queryParams]="{ url: demoUrl }" class="btn">Try now!</a>
    </section>
    <div></div>
  </div>
  <section class="content">
    <app-site-list heading="Most popular websites" sort="popularity" [limit]="8"></app-site-list>
    <app-site-list heading="Recently updated websites" sort="update" [limit]="8"></app-site-list>
  </section>
</div>
