.banner {
  text-align: center;
  padding: 30px 0;
  position: relative;
  transition: padding 300ms ease-out;
  overflow: hidden;
}

.banner strong {
  display: block;
  padding: 10px 0;
  font-size: 18px;
  text-transform: uppercase;
}

.banner span {
  display: inline-block;
  max-width: 90%;
  padding: 3px 13px;
  margin: 0 auto 10px auto;
  font-size: 20px;
  background: #55bbff;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.banner h1 {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  margin: 0 auto 10px auto;
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.banner strong, .banner span, .banner h1 {
  transition: font-size 300ms ease-out;
}

.banner .btn {
  padding: 15px;
  margin: 5px 0;
  font-size: 18px;
  color: #ffffff;
  display: none;
}

.banner > section {
  position: relative;
  z-index: 2;
}

.banner > div {
  width: 120%;
  height: 120%;
  position: absolute;
  left: -10%;
  top: -10%;
  z-index: 1;
  background: url(/assets/banner.jpg) center top no-repeat;
  background-size: cover;
  filter: blur(15px);
  -webkit-filter: blur(15px);
}

.panel {
  margin-bottom: 15px;
}

@media (min-width: 400px) {

  .banner h1 {
    font-size: 16px;
  }

  .banner span {
    font-size: 22px;
  }
}

@media (min-width: 500px) {

  .banner {
    padding: 50px 0;
  }

  .banner strong {
    font-size: 20px;
  }

  .banner h1 {
    max-width: 70%;
  }
}

@media (min-width: 580px) {

  .banner span {
    font-size: 24px;
  }
}

@media (min-width: 700px) {

  .banner strong {
    font-size: 22px;
  }

  .banner span {
    font-size: 26px;
  }

  .banner h1 {
    font-size: 16px;
  }
}

@media (min-width: 800px) {

  .banner span {
    font-size: 28px;
  }
}

@media (min-width: 900px) {

  .banner {
    padding: 65px 0;
  }
  .banner strong {
    font-size: 24px;
  }

  .banner span {
    font-size: 30px;
  }

  .banner h1 {
    max-width: none;
  }
}

@media (min-width: 1024px) {

  .banner .btn {
    display: inline-block;
  }
}

@media (min-width: 1600px) {

  .banner {
    padding: 130px 0;
  }
}
