.app {
  width: 100%;
  height: 100%;
}

main {
  min-height: 100%;
  padding-top: 50px;
  padding-bottom: 300px;
  transition: padding-top 300ms ease-out;
  background: url(/assets/loader/blue.gif) no-repeat;
  background-position: center calc(50% + 25px - 150px);
}

.noscroll {
  position: fixed;
  z-index: 1;
  width: 100%;
}

@media (min-width: 800px) {

  main {
    padding-top: 80px;
    background-position: center calc(50% + 40px - 150px);
  }
}
