<section class="content">
  <div class="panel">
    <div class="header">
      <div>
        <h2>
          <span>Browsing {{urlList.length}} {{urlList.length == 1 ? 'site only' : 'sites at a time'}}</span>
        </h2>
        <div class="label">
          <a *ngFor="let url of urlList;" href="{{url}}" target="_blank" class="url">{{url.replace('^https?://', '')}}</a>
        </div>
      </div>
    </div>
    <div class="body">
      <div class="images">
        <article *ngFor="let image of images; trackBy: trackByIndex;">
          <a
            href="{{image.getImageLink().getUrl()}}"
            target="_blank"
            class="image"
            [style.background-image]="'url(' + image.getSrc() + ')' | trustCss"
            (click)="onClickImage(image)"
          ></a>
        </article>
        <article><div class="image image-placeholder"></div></article>
        <article><div class="image image-placeholder"></div></article>
        <article><div class="image image-placeholder"></div></article>
        <article><div class="image image-placeholder"></div></article>
        <article><div class="image image-placeholder"></div></article>
        <article><div class="image image-placeholder"></div></article>
        <article><div class="image image-placeholder"></div></article>
        <article><div class="image image-placeholder"></div></article>
      </div>
    </div>
  </div>
</section>
