<section class="content">
  <div class="panel">
    <div class="header">
      <div>
        <h2>
          <span>You are browsing photos from {{sites.length}} {{sites.length == 1 ? 'site only' : 'sites'}}:</span>
        </h2>
        <div class="label">
          <a *ngFor="let site of sites;" href="{{site.getUrl()}}" target="_blank" class="site">{{site.getSiteName()}}</a>
        </div>
      </div>
    </div>
    <div class="body">
      <div *ngIf="this.placeholders.length > 0" class="results">
        <article *ngFor="let placeholder of placeholders;" class="is-image is-placeholder">
          <div class="image"></div>
        </article>
      </div>
      <div class="results">
        <article
          *ngFor="let result of results; trackBy: trackByIndex;"
          [class.is-error]="!!result.error"
          [class.is-image]="!result.error"
        >
          <a
            *ngIf="!result.error"
            href="{{result.image.getImageLink().getUrl()}}"
            target="_blank"
            class="image"
            [style.background-image]="'url(' + result.image.getSrc() + ')' | trustCss"
            (click)="onClickImage(result.image)"
          ></a>
          <div *ngIf="!!result.error" class="error">
            <div class="error-line"></div>
            <span class="error-text">{{result.error.getMessage()}}</span>
            <div class="error-line"></div>
          </div>
        </article>
        <article *ngFor="let site of crawledSites;" class="is-error">
          <div class="error">
            <div class="error-line"></div>
            <span class="error-text">Loading photos from {{site.getSiteName()}}</span>
            <div class="error-line"></div>
          </div>
        </article>
      </div>
      <div class="no-results">
        <a *ngIf="this.crawledSites.length === 0" [routerLink]="['']" class="btn">Back to homepage</a>
      </div>
    </div>
  </div>
</section>
