<div class="panel site-list {{sort}}">
  <div class="header">
    <div>
      <h2><i></i>{{title}}</h2>
    </div>
  </div>
  <div class="body">
    <ol>
      <li *ngFor="let site of site$ | async; trackBy: trackById;">
        <a
          [routerLink]="['/browse']"
          [queryParams]="{ url: site.url }"
          class="image"
          [style.background-image]="'url(' + site.coverUrl + ')' | trustCss"
        >{{site.loadCount}} / {{site.createDate}}</a>
      </li>
    </ol>
  </div>
  <div class="footer">
    <div>
      <button class="btn" (click)="onClickLoadMore()" [class.isLoading]="isLoading"><span>Load more</span></button>
    </div>
  </div>
</div>
