<div class="panel site-list {{sort}}">
  <div class="header">
    <div>
      <h2><i></i>{{title}}</h2>
      <span class="info">{{total}} {{total == 1 ? 'site' : 'sites'}}</span>
    </div>
  </div>
  <div class="body">
    <ol>
      <li *ngFor="let site of site$ | async; trackBy: trackById;">
        <a [routerLink]="['/browse']" [queryParams]="{ url: site.url }" class="mask" title="{{site.title}}">
          <div class="loaded" [style.background-image]="'url(' + site.coverUrl + ')' | trustCss"></div>
          <span><i class="fa fa-heart"></i>{{site.likeCount | number}}</span>
        </a>
        <div>
          <h3>
            <a [routerLink]="['/browse']" [queryParams]="{ url: site.url }" title="{{site.title}}">{{site.title}}</a>
          </h3>
          <p>{{site.loadCount | number}} {{site.loadCount == 1 ? 'view' : 'views'}} &bull; 1 month ago</p><!-- TODO date -->
          <a [routerLink]="['/browse']" [queryParams]="{ url: site.url }">{{site.getSourceName()}}</a>
        </div>
      </li>
    </ol>
  </div>
  <div class="footer">
    <div>
      <button class="btn" (click)="onClickLoadMore()" [class.isLoading]="isLoading"><span>Load more</span></button>
    </div>
  </div>
</div>
