.btn {
  display: inline-block;
  padding: 15px 25px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #444444;
  transition: background-color 300ms ease-out, color 300ms ease-out;
}

.btn:hover, .btn:focus, .btn.isLoading {
  background-color: #55bbff;
}
