html {
  height: 100%;
}

html * {
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Roboto, Arial, sans-serif;
  background: #f0f0f0;
  height: 100%;
  font-size: 14px;
  color: #444444;
}

*:not(input):not(textarea) {
  user-select: none;
}

ul, ol {
  list-style: none;
}

form {
  display: block;
}

a {
  text-decoration: none;
}

main {
  padding-top: 50px;
}

section {
  display: block;
  width: 100%;
  transition: padding 300ms ease-out;
}

@media (min-width: 1024px) {

  section {
    padding: 0 10px;
  }

  section.content {
    padding-top: 15px;
  }
}

@media (min-width: 1220px) {

  section {
    padding-left: 0;
    padding-right: 0;
  }

  section.content {
    padding-top: 15px;
  }
}

@media (min-width: 1200px) {

  section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.mask {
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}
