<div class="container" [class.is-open]="isOpen">
  <div class="overlay" (click)="onClickOverlay()"></div>
  <div class="modal">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form">
          <h2>
            <div class="logo"></div>
            <span class="title">Let's gallerize websites!</span>
          </h2>
          <p>Copy & paste <strong>up to 3 photo gallery URLs</strong> you want to <strong>browse simultaneously</strong>, then click the <strong>submit</strong> button:</p>
          <ul formArrayName="url">
            <li *ngFor="let control of urlInputList.controls; let i = index" [class.is-active]="i < urlInputCount">
              <input type="text" aria-label="Photo gallery URL" placeholder="Example: https://wallpaperscraft.com/catalog/animals" [formControlName]="i" />
            </li>
          </ul>
      </div>
      <div class="buttons">
        <div class="btn cancel" (click)="onClickCancel()">Cancel</div>
        <div class="btn submit" (click)="onClickSubmit()">Submit</div>
      </div>
    </form>
  </div>
</div>
